header{
    text-align: center;
    font-size: 250%;
    text-transform: uppercase;
}

.div1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-right: 250px;
    margin-left: 250px;
    margin-bottom: 20px;
    border: 10px solid;
    border-top-color: rgb(151, 151, 151);
    border-bottom-color: rgb(0, 0, 0);
    border-right-color: rgb(151, 151, 151);
    border-left-color: rgb(0, 0, 0);
    box-shadow: -15px 15px 15px rgb(77, 77, 77);
    background-color: white;
}   
    
    .contenedor{
        width: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
        height: 50vh;
        padding: 0;
        margin: 0;
    }
    .contenedor figure{
       position:relative;
        height: 250px;
        cursor: pointer;
        width: 350px;
        overflow: hidden;
        border-radius: 6px;
        box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
    }
    .contenedor figure img{
        width: 100%;
        height: 100%;
        transition: all 400ms ease-out;
        will-change: transform;
    }
    .contenedor figure .capa{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.781);
        transition: all 400ms ease-out;
        opacity: 0;
        visibility: hidden;
        text-align: left;
        display: flex;
    }
    .contenedor figure:hover > .capa {
        opacity: 1;
        visibility: visible;
    }

    .contenedor figure:hover > img{
        transform: scale(1.3);
    }

    .contenedor figure .capa p{
        color: #fff;
        font-size: 15px;
        line-height: 1.5;
        width: 100%;
        max-width: 220px;
        margin: auto;
    }

    body{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        background-image: url('fondos/Fondo2.png');
        background-attachment: fixed;
        background-position: right;
        background-position-x: 870px;
        background-size: 200px;
    }

    .links{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .introduccion{
        font-size: large;
        margin-left: 0;
    }

    .pagina3{
        font-size: large;
        margin-left: 800px;
    }